<%- include('../partials/header') %>

  <h1> PROFILE</h1>
  <div class="profileDetsCon">
    <div>
      <div class="profileCard">
        <div>
          <img src="<%= user.avatar%>" class="profileImage"> 
        </div>
    <div class="textContainer">
      <p class="name" ><%= user.name%> </p>
      <p class="profile"><%= user.email%> </p>
    </div>
  </div>
</div>
<div>
  <% if (user.sessionsId.length){ %>
    <% user.sessionsId.forEach(session => { %>
      <div>
        <h6>Location: <%= session.location %></h6>
        <h6>Date: <%= session.date %></h6>
        <h6>Players: <%= session.playersIds.length %>/<%= session.max %></h6>
        <span>
          <% session.playersIds.forEach(player => { %>
            <label><%= player.name %></label>
            <% }); %>
          </span>
          <h6><%= session.playersIds.length %>/<%= session.max %></h6>
        </div>
      </div>
      <% })} %>
    </div>
      <%- include('../partials/footer') %>
      
