<%- include('../partials/header') %>

  <h1> PROFILE</h1>
  <div class="profileDetsCon">
    <div>
  <img src="<%= user.avatar%>" id="profileImg"> 
  <br><br>
  
  <form action="/users/<%= user._id %>?_method=PUT" method="post">
  <br><br>

  <div class="form-control2">
    <input class="input2 input-alt2" placeholder=<%= user.name%> required="" type="text" name="name">
    <span class="input-border2 input-border-alt2"></span>
  </div>

  <div class="form-control2">
    <input class="input2 input-alt2" placeholder=<%= user.email%> required="" type="text" name="name">
    <span class="input-border2 input-border-alt2"></span>
  </div>

</form>
</div>
<div>
  <% if (user.sessionsId.length){ %>
    <% user.sessionsId.forEach(session => { %>
      <div>
        <h6>Location: <%= session.location %></h6>
        <h6>Date: <%= session.date %></h6>
        <h6>Players: <%= session.playersIds.length %>/<%= session.max %></h6>
        <span>
          <% session.playersIds.forEach(player => { %>
            <label><%= player.name %></label>
            <% }); %>
          </span>
          <h6><%= session.playersIds.length %>/<%= session.max %></h6>
        </div>
      </div>
      <% })} %>
    </div>
      <%- include('../partials/footer') %>
      
