<%- include('../partials/header') %>

  <h1> PROFFFFFFFFFFILE</h1>
  <img src="<%= user.avatar%>"> 
  <br><br>
  Name: <%= user.name%>
  <br><br>
  Email : <%= user.email%>

  <div>
    <% if (user.sessionsId.length){ %>
      <% user.sessionsId.forEach(session => { %>
          <div>
              <h6>Location: <%= session.location %></h6>
              <h6>Date: <%= session.date %></h6>
              <h6>Players: <%= session.playersIds.length %>/<%= session.max %></h6>
              <span>
                  <% session.playersIds.forEach(player => { %>
                      <label><%= player.name %></label>
                  <% }); %>
              </span>
              <h6><%= session.playersIds.length %>/<%= session.max %></h6>
          </div>
  </div>
  <% })} %>
<%- include('../partials/footer') %>

