<%- include('../partials/header') %>

    <h1><%= title %></h1>
 <h1>All Games</h1>



<table id="list">
    <thead>
      <tr>
        <th>Title</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% games.forEach(function(g) { %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.type %></td>
          <td><%= g.poster %></td>

        </tr>
        <% }); %>
      </tbody>
    </table>





<%- include('../partials/footer') %>

