<%- include('../partials/header') %>

<h1><%= game.name %></h1>
<img src="<%= game.poster %>" alt="<%= game.name %>">
<h5>Type: <%= game.type %></h5>

<% if (game.sessionIds.length){ %>
    <% game.sessionIds.forEach(session => { %>
        <div>
            <h6>Location: <%= session.location %></h6>
            <h6>Date: <%= session.date %></h6>
            <h6>Players: <%= session.playersIds.length %>/<%= session.max %></h6>
            <span>
                <% session.playersIds.forEach(player => { %>
                    <label><%= player.name %></label>
                <% }); %>
            </span>
            <h6><%= session.playersIds.length %>/<%= session.max %></h6>
        </div>
        <%if (user){ 
        if (user.googleId === session.playersIds[0].googleId) {%>
        <form action="/sessions/<%= session._id %>?_method=DELETE&id=<%= game._id %>" method="post">
            <input type="submit" value="Remove Session">
        </form>
        <% if (session.playersIds.some(obj => obj.googleId === user.googleId)) { %>

        <%} %>
<%}})} %>
<form action="/games/<%= game._id %>/sessions" method="post">
    <input type="text" placeholder="Location" name="location">
    <input type="date" placeholder="Date" name="date">
    <input type="number" placeholder="Max Players" name="max">
    <input type="submit" value="Create Session">
</form>

<%- include('../partials/footer') %>

